{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
  $("#register").colorbox({
    onComplete:function(){
      $('#loginButton').click(clicked);
      },
    innerHeight:"280px",
    innerWidth:"510px"
    }
  );
  
  // nav arrow
  $('.navArrow').hide();
  $('#mainArrow').show();
});	
</script>
{% endblock %}
{% block body %}
<div class="center" style="width:720px;">
  <div class="mainText">
    <div class="center" style="width:520px;">
    Internet browsing through SMS
    </div>
    <div class="center" style="width:595px;">
    No data plan or smartphone needed
    </div> 
  </div>
  <div class="subMain center" style="width:570px;">
    <span class="dgreen" style="font-size:18px;font-weight:bold;">10 texts/month free + 5 cents/text afterwards </span>
    <input id="register" type="button" style="font-size:20px;"value="Free Registration" href="{{ url_for('login') }}"/>
  </div>
  <div class="imageSpan" style="margin-top:80px;">
    <div style="float:left;">
      <div class="imageHeading" style="margin-left:12px;">Get directions</div>
      <div class="mainIcon mapIcon"></div>
    </div>
    <div style="float:left; margin-left:180px;">
      <div class="imageHeading" style="margin-left:10px;">Get information</div>
      <div class="mainIcon infoIcon"></div>
    </div>
    <div style="float:right;">
      <div class="imageHeading" style="margin-left:17px;">Get anything</div>
      <div class="mainIcon anythingIcon"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="margin-top:80px;">
    <div class="mainSubHeading">
      How it works
    </div>
    <div class="imageSpan" >
      <div style="float:left;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">1</div>
        <div class="mainCircleText">Text a command to Textatron</div>
        <div class="clear"></div>
      </div>
    </div>
    <div style="float:left; margin-left:65px;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">2</div>
        <div class="mainCircleText">We find the information</div>
        <div class="clear"></div>
      </div>
    </div>
    <div style="float:right;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">3</div>
        <div class="mainCircleText">Results are texted back</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="howItWorks" style="height:260px; width:730px;"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="margin-top:80px;">
    <div class="mainSubHeading">
      Try out some commands, free! Text to (1)919-666-3455
    </div>
    <div class="mainExampleLabel">Looking something up on Wikipedia</div>
      <div class="mainExample">Text "wiki a.[article]" to get a summary of the article.</div>
      <div class="mainExample">Want look at the rest of the article? Text "wiki a.[article] s.toc" to see the table of contents. </div>
      <div class="mainExample">Interested in a particular section? Text "wiki a.[article] s.[section number or section title]"</div>
    <div class="mainExampleLabel">Getting directions</div>
      <div class="mainExample">Text "mapd s.[starting location] e.[ending location]" without the "[]" in order to get driving directions</div>
      <div class="mainExample">Text "mapp s.[starting location] e.[ending location] d.[departure time]" in order to get public transit directions. Want to look it up by arrival time? just switch the "d" with an "a"</div>
    <div class="mainExampleLabel">
      Want to find something else? <a href="{{ url_for('commands') }}">View more of our commands </a>
    </div>
  </div>
</div>
{% endblock %}
