{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
  // nav arrow
  $('.navArrow').hide();
  $('#mainArrow').show();
});	
</script>
{% endblock %}
{% block body %}
<div class="center" style="width:720px;">
  <div class="mainText">
    <div class="center" style="width:520px;">
    Internet browsing through SMS
    </div>
    <div class="center" style="width:340px;">
    No data plan needed
    </div> 
  </div>
  <div class="subMain center" style="width:500px;">
    10 texts/month free + 5 cents/text afterwards <input type="button" value="Free Registration"/>
  </div>
  <div class="imageSpan" style="margin-top:80px;">
    <div style="float:left;">
      <div class="imageHeading">Get directions</div>
      <div class="imgHolder" style="background:yellow; width:125px; height:125px;"></div>
    </div>
    <div style="float:left; margin-left:180px;">
      <div class="imageHeading">Get information</div>
      <div class="imgHolder" style="background:yellow; width:125px; height:125px;"></div>
    </div>
    <div style="float:right;">
      <div class="imageHeading">Get anything</div>
      <div class="imgHolder" style="background:yellow; width:125px; height:125px;"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="margin-top:50px;">
    <div class="mainSubHeading">
      How it works
    </div>
    <div class="imageSpan" >
      <div style="float:left;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">1</div>
        <div class="mainCircleText">Text a command to </div>
        <div class="clear"></div>
      </div>
      <div class="imgHolder" style="background:yellow; width:180px; height:125px;"></div>
    </div>
    <div style="float:left; margin-left:95px;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">2</div>
        <div class="mainCircleText">We find the information</div>
        <div class="clear"></div>
      </div>
      <div class="imgHolder" style="background:yellow; width:180px; height:125px;"></div>
    </div>
    <div style="float:right;">
      <div class="mainCircleDiv">
        <div class="mainCircleLabel">3</div>
        <div class="mainCircleText">Results are texted back</div>
        <div class="clear"></div>
      </div>
      <div class="imgHolder" style="background:yellow; width:180px; height:125px;"></div>
    </div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="margin-top:50px;">
    <div class="mainSubHeading">
      Here are a few of our commands. Try them out, free!
    </div>
    <div class="mainExampleLabel">Getting directions</div>
      <div class="mainExample">Text "mapd s.[starting location] e.[ending location]" without the "[]" in order to get driving directions</div>
      <div class="mainExample">Text "mapp s.[starting location] e.[ending location] d.[departure time]" in order to get public transit directions. Want to look it up by arrival time? just switch the "d" with an "a"</div>
    <div class="mainExampleLabel">Looking something up on Wikipedia</div>
    <div class="mainExample">
      Text "wiki a.[article]" to get a summary of the article.
    </div>
    <div class="mainExample">Want look at the rest of the article? Text "wiki a.[article] s.toc" to see the table of contents. </div>
    <div class="mainExample">Interested in a particular section? Text "wiki a.[article] s.[section number or section title]"</div>
    <div class="mainExampleLabel">
      Want to find something else? View more of our commands <a href="{{ url_for('commands') }}">here</a>
    </div>
  </div>
</div>
{% endblock %}
