{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
});	
</script>
{% endblock %}
{% block body %}
	Escape from awkward situations
	<!-->series of images goes here <!-->
	Try out 3 commands for free
	Just $5/year for unlimited service
	
	<div>
		<div>
			Commands
		</div>
    Don't see a command you want? We are constantly adding new commands, so don't hesitate to <a href="#">let us know</a>
    <table>
      <tr>
        <th>
        </th>
        <th>
          command
        </th>
        <th>
          example
        </th>
      </tr>
      <tr>
        <td>
          Display list of all commands
        </td>
        <td>
          cmd
        </td>
        <td>
          cmd
        </td>
      </tr>
      <tr>
        <td>
          Calls your phone after x minutes. 
        </td>
        <td>
          call x
        </td>
        <td>
          Texting "call 5" will call your phone after 5 minutes.
        </td>
      </tr>
      <tr>
        <td>
          Call to the number specified after n minutes. You must put "n" before the number you wish to call.
        </td>
        <td>
          call n# x
        </td>
        <td>
          Texting "call n1234567890 5" will call 1234567890 after 5 minutes. 
        </td>
      </tr>
      <tr>
        <td>
          Texts a message to your phone after x minutes.
        </td>
        <td>
          txt x msg
        </td>
        <td>
          Texting "txt 3 hello from getouttahere" will text "hello from getouttahere" after 3 minutes.
        </td>
      </tr>
      <tr>
        <td>
          Texts a message to the number specified after x minutes. 
        </td>
        <td>
          txt n# x msg
        </td>
        <td>
          Texting "txt n1234567890 0 hello from getouttahere" will text "hello from getouttahere" to 1234567890 after 0 minutes (immediately).  
        </td>
      </tr>
      <tr>
        <td>
          Texts a cat fact to your phone
        </td>
        <td>
          catfact
        </td>
        <td>
          Texting "catfact" will text your phone a cat fact immediately. 
        </td>
      <tr>
    </table>
	</div>
  
  <div>
    <div>
      Pricing
    </div>
  </div>
{% endblock %}
